In [1]:
import pandas as pd
import os
from src.process import lyric_tokenizer
os.getcwd()

'/Users/carterward/Documents/GitHub/Topic-Mapping'

In [2]:
art1 = pd.read_csv("data/articles1.csv")
art2 = pd.read_csv("data/articles2.csv")
art3 = pd.read_csv("data/articles3.csv")

In [3]:
art1.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [4]:
art2.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [5]:
art3.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [3]:
master_art = pd.concat([art1,art2,art3])

In [4]:
sample_art = master_art.sample(9750)

In [5]:
sample_art

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
43742,97201,143585,Another US health agency with blood on its hands,New York Post,Betsy McCaughey,2016-12-09,2016.0,12.0,http://nypost.com/2016/12/09/another-us-health...,Donald Trump pledged to clean up the dysfuncti...
15140,118602,174573,Romney Changes His Tune On Trump As President-...,NPR,Jessica Taylor,2016-11-29,2016.0,11.0,http://www.npr.org/2016/11/29/503804463/romney...,Donald Trump and 2012 GOP presidential nomin...
38919,40311,59178,Cancer trial stopped again after 2 more deaths,CNN,Ben Tinker,2016-11-24,2016.0,11.0,NaN,"(CNN) After more patient deaths, Juno Therape..."
5800,109259,163149,Paul Manafort To Testify On Russia As House In...,NPR,Camila Domonoske,2017-03-24,2017.0,3.0,http://www.npr.org/sections/thetwo-way/2017/03...,Updated at 3:30 p. m. Former Trump campaign ch...
43645,97104,143444,It’s never cost more to buy an apartment in Ma...,New York Post,Jennifer Gould Keil,2016-01-05,2016.0,1.0,http://nypost.com/2016/01/05/its-never-cost-mo...,The median price of a Manhattan apartment has ...
...,...,...,...,...,...,...,...,...,...,...
44598,98057,144825,The secret nobody wants you to know about boxe...,New York Post,Stephanie Miskew,2016-08-15,2016.0,8.0,http://nypost.com/2016/08/15/the-secret-nobody...,"For years, one of the most loathed word combin..."
29344,82803,124648,China lashes out after Mattis backs Japan in i...,New York Post,Associated Press,2017-02-04,2017.0,2.0,https://web.archive.org/web/20170205002850/htt...,BEIJING — The U. S. is putting regional sta...
3531,56840,78108,When an Abortion Destroys a Relationship,Atlantic,Chris Bodenner,2016-08-11,2016.0,8.0,NaN,Prompted by Emma Green’s note on the Supreme C...
43409,96868,143129,Yankees sniffing around Cubs’ 15-game winner,New York Post,George A. King III,2016-11-15,2016.0,11.0,http://nypost.com/2016/11/15/yankees-sniffing-...,Brian Cashman has spent much of the offseason ...
37389,140851,211497,Trump’s campaign brings Eastern Europe’s polit...,Washington Post,Anne Applebaum,2016-04-25,2016.0,4.0,https://web.archive.org/web/20160426001232/htt...,When democracy arrived in the eastern hal...

In [6]:
tokenized_art =[]
i = 1
for art in sample_art['content'].values:
    if i % 100 == 0:
        print(i)
    tokenized_art.append(' '.join(lyric_tokenizer(art)))
    i+=1

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700

In [7]:
sample_art['tokenized_content'] = tokenized_art

In [8]:
sample_art.to_csv("large_article_sample.csv")